{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "emacVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended'"
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}
